<div class="container">
	<h1>Mi cuenta | Detalle</h1>
</div>
<div class="container">
    <h2>Detalle de Trasacción</h2>
    <h4>A continuación el detalle de su transaccion realizada el {{movimientos.fecha}}.</h4>
    <hr class="featurette">
    <a class="btn btn-primary pull-right" ng-href="#/usuario/resumen">Volver</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="clearfix">Transacción</th>
                <th class="clearfix">Fecha</th>
                <th class="clearfix">Detalle</th>
                <th class="clearfix">Tipo</th>
                <th class="clearfix">Monto</th>
                <th class="clearfix">Acciones</th>
            </tr>
        </thead>
        <tbody id="listaMisiones">
        	<tr ng-repeat="actividad in toDos">
                <td>{{movimientos.id}}</td>
                <td>{{movimientos.fecha}}</td>
                <td>{{movimientos.detalle}}</td>
                <td>{{movimientos.tipoMovimiento}}</td>
                <td>{{movimientos.monto}}</td>
                <td><a ng-href="">Editar</a> | <a ng-click="eliminarMovimiento()">Elminar</a></td>
            </tr>
        </tbody>
    </table>
</div>